* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Outfit', sans-serif;
font-size: 18px;}

section {background-color: hsl(217, 54%, 11%) ;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;}

.tarjeta

.card {background-color: hsl(216, 50%, 16%);
; width: 375px ;
height: 575px; border-radius: 5px;
box-shadow: -1px -1px 32px 13px rgba(0,0,0,0.5);
-webkit-box-shadow: -1px -1px 32px 13px rgba(0,0,0,0.5);
-moz-box-shadow: -1px -1px 32px 13px rgba(0,0,0,0.5);}
.img-central {border-radius: 5px; margin-top: 20px;}

.descripcion-nft {color: hsl(215, 51%, 70%); margin-top: 5px;}
.valor {color: hsl(178, 100%, 50%);}
.dias {color: hsl(215, 51%, 70%);}
.img-borde { display: flex;
    justify-content: center;
align-items: center;
 height: 330px;
margin-top: 25px;
}

h2 {color: white; font-weight: 600;
margin-top: 5px; margin-bottom: 5px;}

p {margin-bottom: 5px;}

.contenedor-datos {margin-left: 20px;
margin-right: 20px;}
.detalles {display: flex; justify-content: space-between;
    margin-top: 20px;
     }

.datos-autor {
display: flex; align-items: center;
   ; margin-left: 20px; font-size: 15px; margin-top: 10px;}
.creation {color: rgb(53, 152, 152);}
.nombre {color: rgb(219, 219, 219);}
.datos {margin-right: 50px;}
.barra { width: 335px; margin-left: 20px; border-radius: 5px; 
    height: 1px; border-color: rgba(196, 192, 192, 0.671); background-color: rgba(196, 192, 192, 0.671);
position: relative; top: 8px;}
.detalles div {display: flex; align-items: center; justify-content: center;}
.detalles span {margin-left: 5px;}
.titulo { margin-top: 40px;}
.img-autor { border-radius: 50px; border: 2px white solid; display: flex; justify-content: center;}
.box-datos {
position: relative; top: 15px;}


/*responsive */
@media only screen and (max-width: 1400px) {
.img-borde {
    margin-top: 0%;
    height: 400px;
}
.titulo {
    margin-top: 0%;
    margin-bottom: 0%;
}
.detalles {
    margin-top: 0%;
}
.barra {
    margin-top: 8px;
    margin-bottom: 8px;
}
.descripcion-nft {
    margin-top: 0%;
}
.datos-autor {
    margin-top: 0%;
}
.img-central {
margin-top: 0%;
}
.descripcion-nft p {
    margin-bottom: 0%;
}
}

@media only screen and (min-width: 280px) {
    .img-borde {
        margin-top: 0%;
        height: 400px;
    }
    .titulo {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .detalles {
        margin-top: 0%;
    }
    .barra {
        margin-top: 0 ;
        margin-bottom: 0 ;
    }
    .descripcion-nft {
        margin-top: 0%;
    }
    .datos-autor {
        margin-top: 0%;
    }
    .img-central {
    margin-top: 0%;
    }
    .descripcion-nft p {
        margin-bottom: 0%;
    }
    body {
        height: 100vh;
        background-color: hsl(217, 54%, 11%);
    }

    }